#first{
	height:150px;
	width:100%;
	background-color:blue;
}
#img1{
	padding-top:20px;
	margin:0 auto;}


}
#head{
	margin-top:60px;
	color:blue;
}


#head2{
	margin-bottom:150px ;

}
#head3{color:yellow;}
#head4{margin-bottom:200px;
       color:red;
       font-size:25px;}
#head5{margin-bottom:150px;
       color:red;
       font-size:28px;}
#nepal{background-color:red;}
#for{color:yellow;}
#all1{color:red;
     font-size:32px;}

#all{color:red;
     font-size:28px;}

/*this is the background color for the contact page*/
#contact{height:400px;
	background-color:#fcfd45;
margin-top:100px;}
/*this is for the education page*/
#school{margin:50px;
	   padding:20px;
	   border:4px solid red;


}
#name{border:2px solid green;}
#name1{border:2px solid yellow;}
#name2{border:2px solid red;}
#name3{border:2px solid blue;}
#name4{border:2px solid orange;}

